* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #5e8b9c 100%);
    font-size: 10px;
}

.chat-wrapper {
    min-width: 600px;
    max-width: 1000px;
    max-height: 800px;
    height: 80vh;
    background: #FFF;
    border-radius: 10px;
}

.chat-title {
    background-color: rgb(49, 137, 163);
    height: 6vh;
    color: beige;
    font-size: 3vh;
    text-align: center;
    padding-top: 1.5vh;
}

.chat-body {
    height: 450px;
    padding: 30px;
    overflow-y: auto;
    word-break: break-word;
    scroll-behavior: smooth;
}

.message {
    min-height: 100px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.message__user {
    justify-content: flex-end;
}

.message-text {
    padding: 20px;
    min-width: 200px;
    max-width: 360px;
    min-height: 100px;
    margin: 0 10px;
}

.message-text__user {
    background-color: rgb(49, 137, 163);
    color: beige;
    border-radius: 30px 30px 0 30px;
}

.message-text__manager {
    background-color: rgb(101, 197, 226);
    border-radius: 30px 30px 30px 0;
}

.message-text p {
    font-size: 14px;
    padding: 10px 0;
}

.username {
    font-size: 12px;
    font-weight: bold;
}

.manager-pic {
    background-image: url("../img/manager-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    align-self: flex-end;
}

.user-pic {
    background-image: url("../img/user-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    align-self: flex-end;
}

.chat-input {
    height: 8vh;
    background-color: rgb(198, 207, 207);
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.send-btn {
    color:  rgb(49, 137, 163);
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    width: 10%;
    outline: none;
}
.send-btn:hover, .send-btn:focus {
    text-shadow: 1px 1px 2px cyan;
}

.type-msg {
    background-color: transparent;
    border:none;
    outline: none;
    color:  rgb(49, 137, 163);
    font-size: 18px;
    width: 90%;
    padding-right: 20px;
}